$white: #fff;
$black: #000;

$light-gray: #f4f5f9;
$red: #e74c3c;
$gray: #cbc6c0;
$lessLight-gray: #f1ebe7;
$advantages-line: #e6e7eb;
$advantages-border-gray: #e5e5e5;
$advantages-gray: #999999;
$advantages-gray-title: #656565;
$service-bg: #202020;