.recent {
    margin-top: 140px;

    &__title {
        font-family: "Source Sans Pro";
        color: $advantages-gray-title;
        font-size: 36px;
        letter-spacing: 3.6px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }

    &__desc {
        font-size: 14px;
        line-height: 29px;
        margin: 20px 0;
        text-align: center;
        color: $advantages-gray;
    }

    &__devider {
        @include devider($advantages-gray);
    }

    &__links {
        margin: 40px 0;
        text-align: center;
        color: $advantages-gray;

        a {
            text-decoration: none;
            font-size: 14px;
            color: $advantages-gray;
            text-transform: uppercase;
            display: inline-block;
            margin: 5px 20px;
            transition-duration: 500ms;
            transition-property: color;

            &:hover {
                color: $red;
            }
        }
    }
    &__block {
        display: flex;
        flex-wrap: wrap;
        max-width: 1920px;
        margin: 40px auto 0;
    }

    &__element {
        flex-basis: 25%;
        position: relative;

        img {
            display: block;
            max-width: 100%;
        }

        a {
            text-decoration: none;
            display: block;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                position: absolute;
                background-color: rgba(231, 76, 60, .8);
                opacity: 0;
                transition-duration: 500ms;
                transition-property: opacity;
            }

            &:hover {
                &::after, p {
                    opacity: 1;
                }
            }
        }
        p {
            position: absolute;
            left: 10%;
            bottom: 35px;
            z-index: 1;
            color: $white;
            opacity: 0;
            transition-duration: 500ms;
            transition-duration: 500ms;


            &::before {
                content: "";
                width: 44px;
                height: 4px;
                margin-bottom: 24px;
                background-color: $white;
                display: block;
            }
            span {
                display: block;
                margin: 15px 0;
                font-size: 14px;
                letter-spacing: 0.7px;

                &:first-child {
                    font-family: "Source Sans Pro";
                    text-transform: uppercase;
                    font-size: 24px;
                    font-weight: 600;
                    letter-spacing: 1.2px;
                }
            }
        }
    }
}

@media (max-width: 980px) {
    .recent {
        margin-top: 50px;

        &__element {
            p {
                bottom: 10px;

                span {
                    &:first-child {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .recent {
        &__element {
            flex-basis: 50%;
        }
    }
}

@media (max-width: 480px) {
    .recent {
        &__element {
            flex-basis: 100%;
        }
    }
}